@page "/ChipDetail/{ChipId}"

<h1>Chip Details</h1>

<NavigateButton PageToNavigateTo="Chips" ButtonText="Back" HtmlClasses="btn-danger m-1"/>

<section>
    <div>
        <span class="font-weight-bold">ID</span>

    </div>
</section>

@code {
    [Parameter]
    public string ChipId { get; set; }

    //private ChipModel _chip = new ChipModel() { Id = ChipId, Company = new Company() };

    //protected override Task OnInitializedAsync()
    //{
        
    //}
}
