@page "/ImporterChip"

@attribute [Authorize(Roles = "SuperAdmin, Admin")]
    
<h3>Importer Chips</h3>

<NavigateButton PageToNavigateTo="Chips" ButtonText="Cancel" HtmlClasses="btn btn-danger m-1"/>

@code {

}
