@inject NavigationManager _navigationManager
<button type="button" class="btn @HtmlClasses m-1" @onclick="NavigateToPage">@ButtonText</button>

@code{

    [Parameter]
    public string PageToNavigateTo { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public string HtmlClasses { get; set; } = "btn-primary";

    private void NavigateToPage()
    {
        _navigationManager.NavigateTo(PageToNavigateTo);
    }
}