@inject NavigationManager _navigationManager
<button type="button" class="btn @HtmlClasses m-1" @onclick="NavigateToPage">@ButtonText</button>

@code{

    [Parameter]
    public string PageToNavigateTo { get; set; }

    [Parameter]
    public string ButtonText { get; set; }


    /// <summary>
    /// btn class is always on. You only need to replace this if you need more or something else than btn-primary.
    /// </summary>
    [Parameter]
    public string HtmlClasses { get; set; } = "btn-primary";

    private void NavigateToPage()
    {
        _navigationManager.NavigateTo(PageToNavigateTo);
    }
}