@inherits LayoutComponentBase

<div class="container">
    <main class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
