@if (Companies is not null)
{
    <div class="form-group">
        <label>Company</label>
        @if (Companies.Count == 0)
        {
            <p>No companies to select. Go to the Companies page to create one.</p>
        }
        else
        {
            <select class="form-control" value="@_selectedCompany" @onchange="OnChangeCallback">
                <option value="0" selected>Select company</option>
                @foreach (CompanyModel company in Companies)
                {
                    <option value=@company.Id>@company.Name</option>
                }
            </select>
        }
    </div>
}
else
{
    <Loader LoadingMessage="Fetching companies to choose from..."></Loader>
}

@code {
    [Parameter]
    public EventCallback<ChangeEventArgs> OnChangeCallback { get; set; }

    [Parameter]
    public List<CompanyModel> Companies { get; set; }

    private int _selectedCompany = 0;
}
