@if (ChipGroups is not null)
{
    <div class="form-group">
        @if (ChipGroups.Count == 0)
        {
            <p>No existing groups available. Make a new one!</p>
        }
        else
        {
            <select id="groupSelect" class="form-control" value="@ChipGroups[0].Id" @onchange="OnChangeCallback">
                @foreach (ChipGroupModel group in ChipGroups)
                {
                    <option value=@group.Id>@group.Name</option>
                }
            </select>
        }
    </div>
}
else
{
    <Loader LoadingMessage="Fetching available groups..."></Loader>
}

@code {
    [Parameter]
    public EventCallback<ChangeEventArgs> OnChangeCallback { get; set; }

    [Parameter]
    public List<ChipGroupModel> ChipGroups { get; set; }
}
