@if (EventStands is not null)
{
    <div class="form-group">
        <label>Stand</label>
        @if (EventStands.Count == 0)
        {
            <p>No stands to select. Go to the stand page to create one.</p>
        }
        else
        {
            <select class="form-control" value="@_selectedStand" @onchange="OnChangeCallback">
                <option value="0" selected>Select stand</option>
                @foreach (EventStandModel stand in EventStands)
                {
                    <option value=@stand.Id>@stand.Name</option>
                }
            </select>
        }
    </div>
}
else
{
    <Loader LoadingMessage="Fetching stands to choose from..."></Loader>
}

@code {
    [Parameter]
    public EventCallback<ChangeEventArgs> OnChangeCallback { get; set; }

    [Parameter]
    public List<EventStandModel> EventStands { get; set; }

    private int _selectedStand = 0;
}
