@page "/AddEvent"

<h1>Add Event</h1>

<EditForm Model="_event">
    <InputText @bind-Value=_event.Name/>
    <InputText @bind-Value=_event.Name/>

</EditForm>
@code {
    private EventModel _event;


}
