@page "/EventProductManagement/{EventId}"
<h1>Event Product Management</h1>



<NavigateButton PageToNavigateTo="AddStand/{EventId}" ButtonText="Add stand to event"/>
<div>
    <table class="table table-hover" style="text-align: center">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Event</th>
                <th scope="col">Functipnality</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach(EventStandModel stand in _eventStands){
            
            
            <tr>   
                <td>@stand.Name</td>
                <td>@stand.Event.Name</td>
                <td>@stand.Functionalities.Name</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary m-1" @onclick="() => Toggle(stand.Name)">Edit content</button>
                        <button class="btn btn-danger m-1" @onclick="DeleteStandAndContent">Delete</button>
                    </div>
                </td>
            </tr>
                @if (_stringList.Contains(stand.Name))
                {
                    <tr class="table-danger">
                      
                    </tr>  
                }
                
       
        }
         </tbody>
    </table>
</div>

@code {
    [Parameter]
    public string EventId { get; set; }

    private List<ShowListModel> _showList = new List<ShowListModel>();
    private List<string> _stringList = new List<string>();


    private List<EventStandModel> _eventStands = new List<EventStandModel>();

    protected override async Task OnInitializedAsync()
    {
        _eventStands.Add(new EventStandModel("test", new EventModel("EventTest", new CompanyModel()),new StandFunctionalityModel()));
        _eventStands.Add(new EventStandModel("test2", new EventModel("EventTest2", new CompanyModel()),new StandFunctionalityModel()));
    }

    private async void DeleteStandAndContent()
    {
        // TODO Delete Stand and content
    }



    private void Toggle(string name)
    {
        if (_stringList.Contains(name))
        {
            _stringList.Remove(name);

        } else
        {
            _stringList.Add(name);

        }
        
    }
}