@page "/Profile/{Id}"
@page "/Profile"

@attribute [Authorize (Roles="1")]

@using IdeventLibrary.Repositories
@using System.Security.Claims

@inject NavigationManager _navigationManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor

<h1>Profile</h1>

<AuthorizeView>
    <Authorized>
        @if (_profileData != null)
        {
            <section>
                <PropertyDisplay PropertyName="Id" PropertyValue="@(_profileData.Id)"/>
                <PropertyDisplay PropertyName="Email" PropertyValue="@(_profileData.Email)"/>
                <PropertyDisplay PropertyName="Role" PropertyValue="@(_profileData.Role)"/>
            </section>
        }
    </Authorized>
</AuthorizeView>
<br/>
<NavigateButton PageToNavigateTo="Home" ButtonText="Back"/>






@code {
    [Parameter]

    public string Id { get; set; }
    private string _key;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _key = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;

            UserRepository userRepo = new UserRepository();

            _profileData = await userRepo.GetUserById(_key);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private UserModel _profileData;


}
