@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="form-group">
    <label>
        User:
        <input @bind="_userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="_messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>
<button @onclick="Reply" disabled="@(!IsConnected)">Reply last</button>

<hr>

<ul id="messagesList">
    @foreach (var message in _messages)
    {
        <li>@message</li>
    }
</ul>

@code {

    private HubConnection _hubConnection;
    private List<string> _messages = new List<string>();
    private string _userInput;
    private string _messageInput;
    private string _lastClient;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/connectionhub"))
            .Build();

        _hubConnection.On<string, string, string>("RecieveMessage", (user, message,id) =>
        {
            var encodedMsg = $"{id} - {user}: {message}";
            _messages.Add(encodedMsg);
            _lastClient = id;
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }

    public async Task Send() => await _hubConnection.SendAsync("SendMessage", _userInput, _messageInput);
    public async Task Reply() => await _hubConnection.SendAsync("SendMessageClient", _userInput, _messageInput, _lastClient);
    public bool IsConnected => _hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
