@page "/"
@layout NonAdminLayout

<style>
    body {
        background-color: gray;
        color:#e2e2e2;
    }
    body a{
        color:#f3f6f9;
    }
    h1 {
        color: white;
    }
</style>
<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <section class="row">
                <div class="col-12">
                    <h1 class="text-center">Which application do you want to open?</h1>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary m-4" href="/Terminal">Terminal</a>
                        <a class="btn btn-primary m-4" href="/Home">Administration</a>
                    </div>
                </div>
            </section>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container-fluid">
            <section class="row">
                <div class="col-12">
                    <p class="text-center">
                        It seems you are not logged in.<br />
                        If you are a regular user, please contact an operator.<br />
                        You can either <a href="Identity/Account/Login">Login</a> or <a href="Identity/Account/Register">Register</a> if you do not have a profile
                    </p>
                </div>
            </section>
        </div>
    </NotAuthorized>
</AuthorizeView>
