@page "/"
@layout NonAdminLayout

<style>
    body {
        background-color: gray;
    }

    h1 {
        color: white;
    }
</style>
<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <section class="row">
                <div class="col-12">
                    <h1 class="text-center">Which application do you want to open?</h1>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary m-4" href="/Terminal">Terminal</a>
                        <a class="btn btn-primary m-4" href="/Home">Administration</a>
                    </div>
                </div>
            </section>
        </div>
    </Authorized>
    <NotAuthorized>
        <p> It seems like your not logged in. You can either <a href="Identity/Account/Register"> Register </a> or contact an Administrator</p>
        <p> Or you can go to <a href="Identity/Account/Login"> Login </a> If u already have a profile</p>
    </NotAuthorized>
</AuthorizeView>
