@page "/Error/{destination}/{Message}"
@page "/Error/{destination}/{Message}/{Id}"
@page "/Error/{destination}"
@layout NonAdminLayout
@inject NavigationManager _navigationManager

<div class="row">
    <h1 class="col-md-12 mx-auto text-center">Idevent</h1>
</div>
<ScanCircle CircleText="Error" Color="RED"/>
<div class="row">
    <div class="alert alert-warning mt-2">
        @Message
    </div>
</div>

@code {
    [Parameter]
    public string Destination { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Message { get; set; } = "Something went wrong, try again";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(5000);
        _navigationManager.NavigateTo(Destination+"/"+Id);
    }
}
