@page "/Ready/{id}"

@using IdeventLibrary.Repositories
@inject NavigationManager _navigationManager


@layout NonAdminLayout

<div class="row">
    <h1 class="col-md-12 mx-auto" style="text-align:center;">Idevent</h1>
</div>
<ScanCircle CircleText="Ready" Color="#378DFF"/>
<div class="row">
    <div class="col-md-12 mx-auto">
        <h2 class="text-center">@_message</h2>
    </div>
</div>

<div class="inputFieldScan">
    <EditForm Model="_formInput" OnSubmit="@SubmitNFC">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>NFC Read test</label>
            <InputTextSetFocus @bind-Value="@_formInput.Input"></InputTextSetFocus>
        </div>

    </EditForm>


</div>

@code {
    [Parameter]
    public string Id {get;set;}

        private NFCInputModel _formInput = new NFCInputModel();

    private string _message = "Please scan chip";

    private ChipRepository _chipRepository = new ChipRepository();

    public async Task SubmitNFC()
    {

        // do something
        ChipModel chip = await ChipExists(_formInput.Input);
        if (chip != null)
        {
            // TODO: Validere om chip tilhører eventet
            if (true)
            {
                _navigationManager.NavigateTo($"chipContent/{chip.Id}");
            }
        }
        else
        {
            _navigationManager.NavigateTo($"Error/Ready/{Id}");
        }

        // Reset the Model for new input.
        _formInput = new NFCInputModel();

    }

    public async Task<ChipModel> ChipExists(string chipId)
    {
        var result = await _chipRepository.GetBySecretId(chipId);
        return result;
    }
}
