@page "/chipContent/{id}"

@using IdeventLibrary.Repositories
@using IdeventAdminBlazorServer.Common
@using System.Security.Claims
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager _navigationManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@*@inject UserManager<UserModel> _userManager*@

    

@layout NonAdminLayout

<div class="row">
    <h1 class="col-md-12 mx-auto text-center">Idevent</h1>
</div>
<ScanCircle CircleText="Success" Color="#00C206"/>
<div class="row">
    <div class="col-md-12 mx-auto">
        <h2 class="text-center">@_message</h2>
    </div>
</div>
<div class="row">
    <table class="table col-md-12 mx-auto">
    <thead>
        <tr>
            <td>Product</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        @if(_chip != null)
        {
               @foreach(var item in _chip.StandsProducts)
                    {
                    @if(item.EventStandId == _eventStandId)
                        {
                           <tr>
                                <td>@item.Name</td>
                                <td>@item.Amount</td>
                            </tr> 

                        }
                        

                    }
        }
     
    </tbody>
</table>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    private HubConnection _hubConnection;
    public bool IsConnected => _hubConnection.State == HubConnectionState.Connected;
    private List<string> _messages = new List<string>();

    private string _message = "Waiting operator";

    private ChipModel _chip;
    private ChipRepository _chipRepository = new ChipRepository();
    //TODO bør ikke være et. Men er der for testens skyld lige nu
    private int _eventStandId = 1;

    protected override async Task OnInitializedAsync()
    {
        _chip = await _chipRepository.GetById(TryConvert(Id));

        _hubConnection = new HubConnectionBuilder()
           .WithUrl(_navigationManager.ToAbsoluteUri("/connectionhub"),options =>
                 {
                    options.UseDefaultCredentials = true;
                })
           .Build();

        //string claimId = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        //string claimId = _userManager.GetUserId(ClaimsPrincipal.Current);
        _hubConnection.On<int>("GetStand", (stand) =>
        {
            _eventStandId = stand;
            
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
        await _hubConnection.SendAsync("AskForStand");
    }

    private int TryConvert(string value)
    {
        int result = 0;
        try
        {
            result = Int32.Parse(value);

        }
        catch
        {
            Console.WriteLine("Unable to parse " + value);

        }
        return result;
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
