@page "/chipContent/{id}"

@using IdeventLibrary.Repositories
@inject NavigationManager _navigationManager


@layout NonAdminLayout
<style>
    body {
        background-color: #D4E9FF;
    }
</style>

<div class="row">
    <h1 class="col-md-12 mx-auto" style="text-align:center;">Idevent</h1>
</div>
<ScanCirkle CirkelText="Success" Color="#00C206"/>
<div class="row">
    <div class="col-md-12 mx-auto">
        <h4 style="font-size: 50px; text-align:center;">@_message</h4>
    </div>
</div>



@code {
    [Parameter]
    public string Id { get; set; }

     private string _message = "Waiting operator";

}
